


.input{
    
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 35px;
    background-color: rgb(227, 227, 227);
    outline-color: rgb(211, 211, 211);
}



.icon_send{
    font-size: 35px;
    cursor: pointer;
}